vim/.netrwhist
vim/bundle/*
vim/plugged/*
vim/autoload/*
config/valet
config/configstore
config/gh
config/psysh
config/raycast
config/yarn
config/gcloud
config/karabiner
config/github-copilot
config/lazygit/state.yml
.DS_Store
